@import './variables';
@import './mixin';


* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

html {
    // font-size: 13px;
    // overflow-x: hidden;
    background-color: $second-txt-color;
}

:root {
    font-size: 20px;
}

a {
    text-decoration: none;
    color: unset;
}

.homeContainer {
    display: flex;
    margin-top: 0;
}

.container {
    flex: 5;
    max-width: 1620px;
    margin: auto;
    margin-top: 0;

    @include tablet {
    
    }

    @include mobile {

    }
}


.main {

    @include tablet {
        margin-top: $header-tablet-height
    }

    @include mobile {
        margin-top: $header-mobile-height;
    }
}