.login {
    height: 100vh;
    padding-bottom: 80px;

    & > div > img {
        object-fit: contain;
        height: 150px;
    }

    & > div {
        display: flex;
        flex-direction: column;
    }

    &__input {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        padding: 20px;
        width: 400px;
        background-color: #fff;
        box-sizing: border-box;
        border-radius: 20px;
        box-shadow: $box-shadow;

        &__top {
            display: flex;
            flex-direction: column;

            input {
                margin-bottom: 30px;
                border: 3px solid $second-txt-color;
                flex: 1;
                padding: 10px;
                border-radius: 999px;
                background-color: #fff;

                &:focus {
                    outline: 0;
                    border: 3px solid $first-txt-color;
                }
            }

            button {
                flex: 1;
                background-color: $first-txt-color;
                color: $second-txt-color;
                font-weight: 800;
                border-radius: 999px;
                margin-bottom: 20px;
        
                &:hover {
                    background-color: $first-txt-color;
                }
            }

            h4 {
                margin: 0 auto;
                font-size: 0.8rem;
                margin-bottom: 20px;
                
                &:hover {
                    text-decoration: underline; 
                }
            }
        }

        &__bottom {
            display: flex;
            justify-content: center;

            button {
                margin-top: 18px;
                width: 50%;
                background-color: #19bf45;
                color: #fff;
                font-weight: 700;
                border-radius: 999px;
        
                &:hover {
                    background-color: #19bf45;
                }
            }
        }
    }
}